/* CSS STYLES COMPONENTS */
.SUB_HEADING h3 {
    color: #2d59a7;
    font-size: 1.8em;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

.SOFTWARE_IN {
    margin: 3em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.CONTAINER_IN {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    padding: 0;
    margin: 0;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    padding: 2em;
    border-radius: 10px;
    border: 1px solid rgb(45 89 167 / 10%);
    background-color: rgb(162 170 212 / 17%);
}

.RIGHTSIDE_IN ul {
    list-style-type: none;
}

.RIGHTSIDE_IN ul li {
    margin-bottom: 1em;
}

.RIGHTSIDE_IN ul li:last-child {
    margin-bottom: 0;
}

.RIGHTSIDE_IN ul li h4 {
    font-size: 1em;
    font-weight: 600;
    color: #232323;
}

.RIGHTSIDE_IN ul li p {
    font-size: 14px;
    text-align: left;
    color: #484848;
}

.main {
    margin: 3em 5em;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    /* height: 70vh; */
    margin: 2em 0;
}

.main .container .mrm_txt h3 {
    font-size: 2.4em;
}

.main .mrm_txt p {
    font-size: 15px;
    color: #484848;
}

.main .mrm_txt ul {
    padding: 0;
    list-style-type: none;
}

.main .mrm_txt ul li {
    display: flex;
    align-items: center;
    color: #2d59a7;
    display: flex;
    gap: 0.4em;
    margin-bottom: 0.5em;
}

.main .mrm_txt ul li span {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 7px 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgb(162 170 212 / 17%);
    box-shadow: 0 3px 22px 0 rgb(214 212 212 / 35%);
}

.main .mrm_txt ul li h6 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

/* BOOK IN THREE WAYS - SECTION */
.book_section {
    margin: 3em 0;
    text-align: center;
}

.book_section .book_ways {
    display: flex;
    align-items: center;
    gap: 1em;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0;
    width: 80%;
    background-color: rgb(162 170 212 / 17%);
    padding: 2em;
    border-radius: 10px;
}

.calendar h3 {
    font-size: 1.8em;
}

.card_container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.calCard {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid rgb(45 89 167 / 10%);
}