.height64 {
  height: 64px;
}
.main {
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
  width: 100vw;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
}
.headerLinksContainer {
  list-style: none;
  text-align: left;
}
.headerLinksContainer .list {
  display: inline-block;
  margin-right: 20px;
}
