.main {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.8em;
    padding: 1.2em 1.5em;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 365px;
    background-color: rgb(234 236 243);
}

.main h4 {
    margin: 0;
    color: #fff;
    color: #2d59a7;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.main p {
    color: #484848;
    font-size: 14px;
}