.book_section h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.book_card {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 365px;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    padding: 2em;
    border-radius: 10px;
    border: 1px solid rgb(45 89 167 / 10%);
}

.book_card:hover {
    box-shadow: 0 11px 85px 0 rgb(204 204 204 / 59%);
    cursor: pointer;
    transform: scale(1.0005);
    transition: all 500ms ease-in;
}

.book_card h4 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #737373;
}

.book_card p {
    font-size: 14px;
    color: #737373;
    text-align: center;

}