.book_section h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.book_card {
    display: inline-block;
    margin: 0;
    width: 365px;
    padding: 2em;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
}

.book_card h4 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #232323;
}

.book_card p {
    font-size: 14px;
    text-align: center;
    color: #484848;
}

/*MEDIA QUERIES TEMPLATE */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {
    .book_card {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 0.8em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .book_card span {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .book_card span p,
    .book_card span h4 {
        text-align: left;
    }

    .book_card img {
        width: 100px;
        height: auto;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .book_card {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 0.8em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .book_card span {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .book_card span p,
    .book_card span h4 {
        text-align: left;
    }

    .book_card img {
        width: 100px;
        height: auto;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .book_card {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 0.8em 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .book_card span {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .book_card span p,
    .book_card span h4 {
        text-align: left;
    }

    .book_card img {
        width: 100px;
        height: auto;
    }
}

/* SMALL SCREEN AND LAPTOP (LIKE ME!! LOL🤣) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .book_card {
        width: 100%;
        padding: 1.2em;
    }

    .book_card img {
        width: 100%;
        height: auto;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .book_card {
        width: 300px;
    }

    .book_card img {
        width: 100%;
        height: auto;
    }
}