.book_section h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.book_card {
    
    display: inline-block;
    margin: 0;
    width: 365px;
    padding: 2em;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;

    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.book_card h4 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #232323;
}

.book_card p {
    font-size: 14px;
    text-align: center;
    color: #484848;
}