/* CSS STYLES COMPONENTS */
.SUB_HEADING h3 {
    color: #2d59a7;
    font-size: 1.8em;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

.SOFTWARE_IN {
    margin: 3em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.CONTAINER_IN {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 0;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    padding: 2em;
    border-radius: 10px;
    background-color: rgb(162 170 212 / 17%);
}

.RIGHTSIDE_IN ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.RIGHTSIDE_IN ul li {
    margin-bottom: 1em;
}

.RIGHTSIDE_IN ul li:last-child {
    margin-bottom: 0;
}

.RIGHTSIDE_IN ul li h4 {
    font-size: 1em;
    font-weight: 600;
    color: #232323;
}

.RIGHTSIDE_IN ul li p {
    font-size: 14px;
    text-align: left;
    color: #484848;
}

.main {
    margin: 3em 5em;
    cursor: default;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin: 5em 0;
}

.main .container .mrm_txt h3 {
    font-size: 2.4em;
}

.main .mrm_txt p {
    font-size: 15px;
    color: #484848;
}

.main .mrm_txt ul {
    padding: 0;
    list-style-type: none;
}

.main .mrm_txt ul li {
    display: flex;
    align-items: center;
    color: #2d59a7;
    display: flex;
    gap: 0.4em;
    margin-bottom: 0.5em;
}

.main .mrm_txt ul li span {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 7px 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgb(162 170 212 / 17%);
    box-shadow: 0 3px 22px 0 rgb(214 212 212 / 35%);
}

.main .mrm_txt ul li h6 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

/* BOOK IN THREE WAYS - SECTION */
.book_section {
    margin: 3em 0;
    text-align: center;
}

.book_section .book_ways {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* INTEGRATION CALENDAR */
.calendar {
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

.calendar .calendar_container {
    justify-self: center;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162 170 212 / 17%);
    gap: 5em;
    padding: 2em;
    margin: 0;
}

.calendar h3 {
    font-size: 1.8em;
}

.card_container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.calCard {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid rgb(45 89 167 / 10%);
}

/*MEDIA QUERIES TEMPLATE */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {
    .main .container .mrm_txt p {
        font-size: 1.05em;
    }

    .main .mrm_txt ul li h6 {
        font-size: 1em;
    }

    .main {
        margin: 3em 1em;
    }

    .main .container {
        margin: 0 0;
        gap: 2em;
        flex-direction: column-reverse;
    }

    .main .container .mrm_txt h3 {
        font-size: 1.5em;
    }

    .RIGHTSIDE_IN ul li h4 {
        font-size: 1.3em;
    }

    .RIGHTSIDE_IN ul li p {
        font-size: 1em;
    }

    .container .mrm_img img {
        height: 200px;
    }

    .book_section .book_ways {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .SUB_HEADING h3,
    .SUB_HEADING div h3 {
        text-align: center;
    }

    .CONTAINER_IN {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 2em;
        padding: 1em;
    }

    .CONTAINER_IN .leftside_web img {
        height: auto;
        width: 200px;
    }

    .calendar {
        align-items: center;
        justify-content: center;
    }

    .calendar .calendar_container {
        flex-direction: column;
        text-align: center;
        gap: 1em;
        width: 932px;
        padding: 1em 0.5em;
    }

    .card_container {
        display: flex;
        gap: 1em;
    }

    .calCard img {
        width: 50px;
        padding: 0;
        margin: 0;
        height: auto;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .main .container .mrm_txt p {
        font-size: 1.05em;
    }

    .main .mrm_txt ul li h6 {
        font-size: 1em;
    }

    .main {
        margin: 3em 1em;
    }

    .main .container {
        margin: 0 0;
        gap: 2em;
        flex-direction: column-reverse;
    }

    .main .container .mrm_txt h3 {
        font-size: 1.8em;
    }

    .RIGHTSIDE_IN ul li h4 {
        font-size: 1.3em;
    }

    .RIGHTSIDE_IN ul li p {
        font-size: 1em;
    }

    .container .mrm_img img {
        height: 200px;
    }

    .book_section .book_ways {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .SUB_HEADING h3 {
        text-align: center;
    }

    .CONTAINER_IN {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 2em;
        padding: 1em;
    }

    .calendar {
        align-items: center;
        justify-content: center;
    }

    .calendar .calendar_container {
        flex-direction: column;
        text-align: center;
        gap: 1em;
        width: 932px;
        padding: 1em 0.5em;
    }

    .card_container {
        display: flex;
        gap: 1em;
    }

    .calCard img {
        width: 50px;
        padding: 0;
        margin: 0;
        height: auto;
    }

}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .main .container .mrm_txt h3 {
        font-size: 2em;
    }

    .main {
        margin: 1.5em;
    }

    .container {
        /* ASK-PITUSH */
        flex-direction: column-reverse;
    }

    .container .mrm_img img {
        height: 280px;
    }

    .main .container {
        gap: 3em;
    }

    .book_section .book_ways {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .CONTAINER_IN {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 2em;
        padding: 1em;
    }

    .calendar {
        align-items: center;
        justify-content: center;
    }

    .calendar .calendar_container {
        flex-direction: column;
        text-align: center;
        gap: 1em;
        width: 932px;
        padding: 1em 0.5em;
    }

    .card_container {
        display: flex;
        gap: 1em;
    }

    .calCard img {
        width: 50px;
        padding: 0;
        margin: 0;
        height: auto;
    }

    .SUB_HEADING h3,
    .SUB_HEADING div h3 {
        font-size: 1.4em;
    }
}

/* SMALL SCREEN AND LAPTOP (LIKE ME!! LOL🤣) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main .container .mrm_txt h3 {
        font-size: 2em;
    }

    .main {
        margin: 2em;
    }

    .container .mrm_img img {
        height: 240px;
    }

    .main .container {
        gap: 3em;
    }

    .book_section .book_ways {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8em;
    }

    .CONTAINER_IN {
        width: 100%;
        gap: 1em;
    }

    .calendar {
        align-items: center;
        justify-content: center;
    }

    .calendar .calendar_container {
        gap: 1em;
        width: 932px;
    }

    .card_container {
        display: flex;
        gap: 0.8em;

    }

    .calCard img {
        width: 100px;
        height: auto;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main {
        margin: 2em;
    }

    .container .mrm_img img {
        height: 320px;
    }

    .main .container {
        gap: 2em;
    }

    .book_section .book_ways {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .CONTAINER_IN {
        width: 932px;
        padding-left: 2em;
        padding-right: 2em;
    }

    .SOFTWARE_IN {
        margin: 3em;
    }

    .calendar {
        align-items: center;
        justify-content: center;

    }

    .calendar .calendar_container {
        gap: 2em;
        width: 932px;
    }

    .card_container {
        display: flex;
        gap: 0.8em;

    }
}